# Python
__pycache__/
*.pyc

# Env / Credential Files
*.env
*.yml
config/settings.yaml
.env

# Data Directories
/data/raw/*
/data/processed/*

# Docker / Logs
logs/
docker-compose.override.yml

# IDE
.vscode/
.idea/

